$body-bgcolor: #FFFFFF;
$body-text-color: #000000;
$link-color: #404040;
$link-visited-color: #404040;
$link-hover-color: #BDBDBD;
$link-active-color: #404040;

$header-bgcolor: #FFFFFF;
$header-text-color: #82746B;

$primary-nav-bgcolor: #000000;
$primary-nav-link-color: #FFFFFF;

$secondary-nav-item-bgcolor: #FFFFFF;
$secondary-nav-link-color: #333333;


$button-bgcolor: #4E4E4E;
$button-text-color: #FAFAFA;
$input-bgcolor: #FFF;